{% extends "layout.html" %}

{% block title %}Configurations{% endblock  %}

{% block content %}
<div class="uk-card uk-card-default uk-width-auto uk-margin" ng-controller="Settings" ng-init="init()">
	<form>
		<div class="uk-card-header">
			<div class="uk-grid-small uk-flex-middle" uk-grid>
				<div class="uk-width-expand">
					<h3 class="uk-card-title uk-align-left">Reimburse new</h3>
				</div>
			</div>
		</div>
		<div class="uk-card-body">
			<ul class="uk-list uk-list-striped">
				<li>
					<label class="uk-text-small uk-text-secondary">Date reimburse <sup class="uk-text-danger">*</sup></label>
                    <p></p>
				</li>

				<li>
					<label class="uk-text-small uk-text-secondary">Upload your document <sup class="uk-text-danger">*</sup></label>
                    <p></p>
				</li>

				<li>
					<label class="uk-text-small uk-text-secondary">Category <sup class="uk-text-danger">*</sup></label>
                    <p></p>
				</li>

				<li>
					<label class="uk-text-small uk-text-secondary">Description</label>
                    <p></p>
				</li>
			</ul>
		</div>
		<div class="uk-card-footer">
			<button type="submit" class="uk-button uk-button-primary">Save</button>
		</div>
	</form>
</div>

{% endblock  %}