{% extends "layout.html" %}

{% block title %}Configurations{% endblock  %}

{% block content %}
<div class="uk-card uk-card-default uk-width-auto uk-margin" ng-controller="Reimburse">
	<form ng-submit="post_save()">
		<div class="uk-card-header">
			<div class="uk-grid-small uk-flex-middle" uk-grid>
				<div class="uk-width-expand">
					<h3 class="uk-card-title uk-align-left">Reimburse new</h3>
				</div>
			</div>
		</div>
		<div class="uk-card-body">
			<ul class="uk-list uk-list-striped">
				<li>
					<label class="uk-text-small uk-text-secondary">Date reimburse <sup class="uk-text-danger">*</sup></label>
					<input class="uk-input uk-margin-small uk-text-small" type="date"
						ng-model="form.date" />
				</li>

				<li>
					<label class="uk-text-small uk-text-secondary">Upload your document <sup class="uk-text-danger">*</sup></label>
					<div class="uk-inline uk-width-expand">
						<div uk-form-custom="target: true" class="uk-width-expand">
							<input type="file"
								ng-model="form.document_attach" ngf-accept="'image/*, .pdf'" ngf-select=""/>
							<input class="uk-input" type="text" placeholder="Select file" disabled>
						</div>
						<span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: link"></span>
					</div>
				</li>

				<li>
					<label class="uk-text-small uk-text-secondary">Category <sup class="uk-text-danger">*</sup></label>
					<select class="uk-select uk-text-small">
						<option>Option 01</option>
						<option>Option 02</option>
						<option>Option 01</option>
						<option>Option 01</option>
					</select>
				</li>

				<li>
					<label class="uk-text-small uk-text-secondary">Description</label>
					<textarea class="uk-textarea" ng-model="form.description"></textarea>
				</li>
			</ul>
		</div>
		<div class="uk-card-footer">
			<button type="submit" class="uk-button uk-button-primary">Save</button>
		</div>
	</form>
</div>

{% endblock  %}